body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(77,77,222,1) 35%, rgba(0,212,255,1) 100%);
}

h1{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
  border-radius: 20px;
  border-color: black;
  box-shadow: none;
}

.card{
  border: 3px solid rgb(158, 148, 148);
  border-radius: 60px;
  box-shadow: 10px 10px 10pxx 10px hsl();
  padding: 40px;
  margin:20px;
  text-align:center;
  align-items: center;
  height:50px;
  display:inline-table;
  background-color:rgb(96, 119, 134);
  text-wrap:inline;
  max-width: max-content;
  
}
.card .image{
  max-width:200px;;
  height:auto;
  border-radius:30%;
  margin:0 auto;
  

}
.card .card-tittle1{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color:black
}
.card .card-tittle2{
  font-size:large;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;;
  color: rgb(27, 9, 9);

}
.card .about{
  width: fit-content;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-wrap: normal;
  text-wrap:  normal;
}
.card .btn {
  border: 30px;
  color: rgb(27, 203, 124);
  text-decoration-color: black;
  padding: 8px 16px;
  font-weight:600;
  margin-top: 10px;
  background-color:black;
  border-radius: 30px;
}
 .table{
  text-align: center;
 border-collapse: collapse;
  width:80%;
  text-align: center;
  margin: 0% auto;
  margin-top:15px;
}
table{
  margin:12px;
}
th, td{
  border: .5px solid rgb(31, 28, 28);
  margin-top:12px;
  padding:2px;
  border-radius: 2px;

}
.App{
  width:33%;
  margin:0 auto;
  align-self:center;
  text-overflow: clip; 

}